h1{
    color:white;
    background-color: rgb(76, 86, 231);
    background-image:url(/img/pattern.png) ;
    background-repeat:repeat;
   background-size: 15%;
}

h4{
    color: gray;
}
span{
    color: rgb(59, 149, 233);
}

.bot{
    color: gray;
}

.giallo{
    background-color: yellow;
    color: black;
}
